.pf-c-form-control:focus {
  border-color: green;
}
.pf-c-form-control[aria-invalid='true'] {
  border-bottom-width: 1px;
}
.pf-c-date-picker {
  width: 100%;
}
.pf-c-form-control:not(textarea),
.pf-c-select__toggle {
  height: 48px;
}
.pf-c-popover__content {
  background-color: var(--pf-global--palette--blue-500);
  color: var(--pf-global--palette--blue-50);
}
.pf-c-popover__content > .pf-c-button {
  color: var(--pf-global--palette--blue-50);
}
