# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Verify Workflow

on:
  push:
    paths-ignore: # Add paths to be ignored to eliminate unnecessary builds
      - '.gitignore'
      - '.prettierignore'
      - 'LICENSE'
      - 'README*'
    branches: [ main ]
  pull_request:
    paths-ignore:
      - '.gitignore'
      - '.prettierignore'
      - 'LICENSE'
      - 'README*'
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]
    if: github.repository_owner == 'shareNwork'
    steps:

    - name: Checkout Code with Ref '${{ github.ref }}'
      uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install build dependencies
      run: yarn install --frozen-lockfile

    - name: Run the linter
      run: yarn run lint    

    - name: Run the test suite
      run: yarn run test

    - name: Run Production build
      run: yarn run build
      
